<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Usuarios</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Usuario" formControlName="usr">
            <mat-error *ngIf="addressForm.controls['usr'].hasError('required')">
              Usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Contraseña" formControlName="pass">
            <mat-error *ngIf="addressForm.controls['pass'].hasError('required')">
              Contraseña es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.get('pass').hasError('minlength')">
              Contraseña mínima de <strong>8 carácteres</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.get('pass').hasError('maxlength')">
              Contraseña máxima de <strong>32 carácteres</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select matInput placeholder="Persona" formControlName="idPrsn">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['idPrsn'].hasError('required')">
              Persona es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>