<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Ubicaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ID Ubicación" formControlName="idUbi">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Departamento" formControlName="dpt">
            <mat-error *ngIf="addressForm.controls['dpto'].hasError('required')">
              Departamento es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ciudad" formControlName="cdad">
            <mat-error *ngIf="addressForm.controls['cdad'].hasError('required')">
              Ciudad es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Localidad" formControlName="lcld">
            <mat-error *ngIf="addressForm.controls['lcld'].hasError('required')">
              Localidad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Número de Cuadrante" formControlName="ncdt">
            <mat-error *ngIf="addressForm.controls['ncdt'].hasError('required')">
              N° cuadrante es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ID Usuario" formControlName="idUsr">
            <mat-error *ngIf="addressForm.controls['idUsr'].hasError('required')">
              ID Usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>