<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Informes</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Numero de Informe" formControlName="nInf">
                        <mat-error *ngIf="addressForm.controls['nInf'].hasError('required')">
                            Número de informe <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Incidencia" formControlName="idIcdc">
                        <mat-error *ngIf="addressForm.controls['idIcdc'].hasError('required')">
                            Incidencia <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Descripción" formControlName="descr"></textarea>
                        <mat-error *ngIf="addressForm.controls['descr'].hasError('required')">
                            Descripción <strong>requerida</strong>
                        </mat-error>
                        <mat-error *ngIf="addressForm.get('descr').hasError('maxlength')">
                            Descripción de máximo <strong>255 carácteres</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Documento" formControlName="idDoc">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressForm.controls['idDoc'].hasError('required')">
                            Documento <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>