<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isWeb$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isWeb$ | async) ? 'over' : 'side'" [opened]="(isWeb$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="/Clientes"><span class="material-symbols-outlined">
                    skateboarding
                </span>Clientes</a>
            <a mat-list-item href="/Documentos"><span class="material-symbols-outlined">
                    demography
                </span>Documentos</a>
            <a mat-list-item href="/Incidencias"><span class="material-symbols-outlined">
                    assignment_late
                </span>Incidencias</a>
            <a mat-list-item href="/Informes"><span class="material-symbols-outlined">
                    import_contacts
                </span>Informes</a>
            <a mat-list-item href="/Personas"><span class="material-symbols-outlined">
                    face
                </span>Personas</a>
            <a mat-list-item href="/Usuarios"><span class="material-symbols-outlined">
                    account_circle
                </span>Usuarios</a>
            <a mat-list-item href="/Ubicaciones"><span class="material-symbols-outlined">
                    location_on
                </span>Ubicaciones</a>
            <a mat-list-item href="" (click)="cerrar()"><span class="material-symbols-outlined">
                account_circle_off
            </span>Cerrar Sesión</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>IA ToSave</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>