.options {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: space-between;
}

@media (max-width: 1240px) {

  .mdc-data-table__table,
  .options {
    min-width: 90% !important;
  }

  .mdc-data-table__row::after {
    content: "";
    position: absolute;
    left: 6%;
width: 70%;
    border-bottom: 1px solid rgb(228, 228, 228);
    /* Color y estilo del borde */
  }
}

.mdc-data-table__table {
  min-width: 70%;
  margin: 0 auto;
}

.mat-mdc-table {
  background-color: rgb(240, 240, 240) !important;
  color: rgb(50, 50, 50);
}

.mat-mdc-form-field-type-mat-input {
  display: block;
  min-width: 35%;
}

.mat-mdc-paginator {
  display: block;
  max-width: 45%;
  background-color: transparent;
}

/* Estilo para la tabla */

th.mat-header-cell,
td.mat-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
  font-weight: normal;
  text-align: left;
}

td.mat-cell {
  padding: 16px 0;
}

tr.mat-header-row {
  background-color: #f5f5f5;
}

tr.mat-row:nth-child(even) {
  background-color: #fafafa;
}

tr.mat-row:hover {
  background-color: #f0f0f0;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  text-align: center;
  position: relative;
  border: none;
  color: rgb(54, 54, 54);
}

.mdc-data-table__header-cell::after,
.mdc-data-table__cell::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  height: 60%;
  border-right: 1px solid rgb(228, 228, 228);
  /* Color y estilo del borde */
}

.mdc-data-table__row::after {
  content: "";
  position: absolute;
  left: 6%;
  width: 88%;
  border-bottom: 1px solid rgb(228, 228, 228);
  /* Color y estilo del borde */
}

.mdc-button {
  min-width: 50px;
}

.btnAccion .mat-mdc-button .mdc-button__label {
  position: relative;

  display: flex !important;
}

.mat-mdc-button {
  padding: 0;
  max-width: 40px;
}

.svg-update {
  fill: rgb(55, 125, 174);
}

.svg-delete {
  fill: rgb(174, 55, 55);
}