.options {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: space-between;
}

@media (max-width: 1240px) {

  .mdc-data-table__table,
  .options {
    min-width: 90% !important;
  }
}

.mdc-data-table__table {
  min-width: 70%;
  margin: 0 auto;
}

.mat-mdc-form-field-type-mat-input {
  display: block;
  min-width: 35%;
}

.mat-mdc-paginator {
  display: block;
  max-width: 45%;
  background-color: transparent;
}

.mat-mdc-paginator-container{
  display: block !important;
}

.mat-mdc-paginator-outer-container {
  padding: 0 !important;
}

.mat-mdc-paginator-range-label{
  margin: none;
}

/* Estilo para el botón de filtrar */
.mat-form-field-suffix {
  background-color: #007bff;
  color: #fff;
}

.mat-form-field-suffix:hover {
  background-color: #0069d9;
}

/* Estilo para la tabla */

th.mat-header-cell,
td.mat-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
  font-weight: normal;
  text-align: left;
}

td.mat-cell {
  padding: 16px 0;
}

tr.mat-header-row {
  background-color: #f5f5f5;
}

tr.mat-row:nth-child(even) {
  background-color: #fafafa;
}

tr.mat-row:hover {
  background-color: #f0f0f0;
}